<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.DeviceMsgMapper">
  <resultMap id="BaseResultMap" type="com.model.DeviceMsgDO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="service_id" jdbcType="VARCHAR" property="serviceId" />
    <result column="device_id" jdbcType="VARCHAR" property="deviceId" />
    <result column="msgbody" jdbcType="VARCHAR" property="msgBody" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, service_id,device_id,msgbody,create_date
  </sql>
  <select id="select"  parameterType="java.util.Map"  resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List" />
      from device_msg
      where 1=1
      <if test="id != null">
          and id = #{id,jdbcType=VARCHAR}
      </if>

      <if test="serviceId != null">
          and service_id = #{serviceId,jdbcType=VARCHAR}
      </if>
      <if test="deviceId != null">
          and device_id = #{deviceId,jdbcType=VARCHAR}
      </if>

      <choose>
          <when test="beginDate == null  or  endDate == null">
              AND create_date  &gt; date_sub(now(), interval 12 hour)
          </when>
          <otherwise>
             AND create_date &gt;= #{beginDate,jdbcType=TIMESTAMP}
             AND create_date &lt;= #{endDate,jdbcType=TIMESTAMP}
          </otherwise>
      </choose>
  </select>



    <insert id="insert" parameterType="com.model.DeviceMsgDO">
        insert into device_msg (service_id, device_id,msgbody,create_date )
        values (
        #{serviceId,jdbcType=VARCHAR},
        #{deviceId,jdbcType=VARCHAR},
        #{msgBody,jdbcType=VARCHAR},
        #{createDate,jdbcType=TIMESTAMP}
        )

    </insert>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT * FROM device_msg
    </select>

</mapper>
