<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.PluginMapper">
  <resultMap id="BaseResultMap" type="com.model.PluginDo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="jar_url" jdbcType="VARCHAR" property="jarUrl" />
    <result column="execute_class" jdbcType="VARCHAR" property="executeClass" />
    <result column="jar_name" jdbcType="VARCHAR" property="jarName"/>
    <result column="edit_date" jdbcType="TIMESTAMP" property="editDate" />
    <result column="description" jdbcType="VARCHAR" property="description"/>

    <result column="user_name" jdbcType="VARCHAR" property="userName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, jar_url,execute_class,jar_name,edit_date,description
  </sql>
  <select id="selectById" resultMap="BaseResultMap">

   SELECT t1.*,t2.user_name from(
       (select
        <include refid="Base_Column_List"/>
        from plugins
        where id = #{id,jdbcType=VARCHAR}
        ) as t1 LEFT JOIN  users as t2 on t1.user_id = t2.id
    )
  </select>



</mapper>
